@import './normalize.scss'; // https://github.com/necolas/normalize.css/
@import './transition.scss';

@font-face{
	font-style: normal;
	font-family: 'myfont';
	src: url('../assets/font/myfont.ttf') format('truetype');
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  font-family: "myfont", "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  background-color: $body;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

// global style
.app-main {
  width: 100%;
  // height: 100%;
  min-height: 100%;
  padding: 20px;
}

// spacing 10px
.spacing10 {
  letter-spacing: 10px;
}

// spacing 20px
.spacing20 {
  letter-spacing: 20px;
}

// text center
.center {
  text-align: center;
}

// text right
.right {
  text-align: right;
}

// cursor
.pointer {
  cursor: pointer;
}
